<!--请购单-->
									<!--<div class="extend_item4_wrapper">
										<div class="extend_item2">
											<table  class="table1" cellspacing="1" cellpadding="0">
												<tr>
													<td width="120" height="36">工程名称</td>
													<td colspan="5"><input type="text" /></td>
												</tr>
												<tr >
													<td height="36">合同名称</td>
													<td colspan="5"><input type="text" /></td>
												</tr>
												<tr >
													<td height="36">请购部门</td>
													<td colspan="5"><input type="text" /></td>
												</tr>
												<tr >
													<td height="36">工程负责人</td>
													<td colspan="2"><input type="text"  class="inputMid"/></td>
													<td width="80">联系方式</td>
													<td colspan="2"><input type="text"  class="inputMid"/></td>
													
												</tr>
												<tr >
													<td height="36">采购执行人</td>
													<td colspan="2"><input type="text"  class="inputMid"/></td>
													<td width="60">联系方式</td>
													<td colspan="2"><input type="text"  class="inputMid"/></td>
												</tr>
												<tr >
													<td height="36">收货人</td>
													<td colspan="2"><input type="text"  class="inputMid"/></td>
													<td width="60">联系方式</td>
													<td colspan="2"><input type="text"  class="inputMid"/></td>
												</tr>
												<tr>
													<td height="36">收货地址</td>
													<td colspan="5"><input type="text" /></td>
												</tr>
												<tr>
													<td height="36">项目（部门）经理</td>
													<td colspan="5"><input type="text" /></td>
												</tr>
												<tr>
													<td height="36">说明</td>
													<td colspan="5">
														<input type="text" placeholder="非必填" class="fbtInput" />
													</td>
												</tr>
											</table>
											<div class="add">
												<span class="list">请购清单</span>
												<span class="addList">添加请购清单<i class="fa fa-plus"></i></span>
											</div>
											<table class="table2" cellspacing="1" cellpadding="0">
												
												<tr >
													<td height="36" width="50">名称</td>
													<td width="220"><input type="text"  class="inputSma"/></td>
													<td width="50" >型号</td>
													<td width="220"><input type="text"  class="inputSma"/></td>
												</tr>
												<tr >
													<td>单位</td>
													<td><input type="text"  class="inputSma"/></td>
													<td>单价</td>
													<td><input type="text"  class="inputSma"/></td>
												</tr>
												<tr >
													<td>数量</td>
													<td><input type="text"  class="inputSma"/></td>
													<td>总额</td>
													<td><input type="text"  class="inputSma"/></td>
												</tr>
											</table>
											<div class="submit">
												<span>提交</span>
											</div>
										</div>
									</div>-->
										
										<!--普通审批-->
									<div class="extend_item1_wrapper">
									</div>
									<!--折扣申请-->
									<div class="extend_item2_wrapper">
										<div class="extend_item2">
											<table  cellspacing="1" cellpadding="0">
												<tr>
													<td width="80" height="36">头像</td>
													<td width="170">
														<input type="text" />
														元
													</td>
													<td width="80">折扣</td>
													<td width="170">
														<input type="text" />
														%
													</td>
								
												</tr>
												<tr >
													<td height="36">有效期</td>
													<td>
														<div class="block">
														    <el-date-picker
														      type="date"
														      v-model="value1"
														      placeholder="请选择日期">
														    </el-date-picker>
													  	</div>
													</td>
													<td>公司名称</td>
													<td>
														<input type="text" />
													</td>
												</tr>
												<tr>
													<td height="36">说明</td>
													<td colspan="3">
														<input type="text" placeholder="非必填" class="fbtInput" />
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="extend_item3_wrapper">
										<div class="borrow_apply">
											<div class="list"><span>借款人：</span><input class="no" type="text" disabled="disabled" :value="user.name"/></div>
											<div class="list"><span>借款事由：</span><input type="text" /></div>
											<div class="list"><span>借款金额：</span><input type="text" /></div>
										</div>
									</div>
									<sysP></sysP>
									